.sidebar {
    background-color: #f1f1f1;
    float: left;
    height: auto;
    padding: {
        top: 10px;
        bottom: 300px;
    }
    width: 300px;

    ul {
        background-color: #f1f1f1;
        list-style-type: none;
        margin: {
            top: 20px;
            right: 0;
            bottom: 20px;
            left: 0;
        }
        padding: 0;
        text-align: center;
        width: 200px;

        li {
            a {
                color: #000000;
                display: block;
                padding: 10px 16px;
                text-decoration: none;
                width: 250px;
            }
    
            a:hover {
                background-color: #555555;
                color: white;
            }
        }
    }
}