$mycolour: rgb(95, 223, 255);
$bgcolour: #333333;
$number1: 20px;
$align1: center;

.navbar {
    ul {
        background-color: $bgcolour;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: right;
        margin-right: $number1;
    }

    li a {
        color: white;
        display: block;
        padding: 14px $number1;
        text-align: $align1;
        text-decoration: none;
    }

    li a:hover {
        background-color: $mycolour;
    }
}